Repository Uygnis/TutorLink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

ignore:
  - "tests/*"
  - "docs/*"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto

comment:
  layout: "diff, flags, files"   # <-- no leading space
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  backend:
    paths:
      - "backend/**"

  frontend:
    paths:
      - "frontend/**"

Update TG_Booking_Core.jmx
  jmeter/tests/TG_Booking_Core.jmx
Due: none

Update pipeline2.yml
  .github/workflows/pipeline2.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Fix pipeline.yml for frontend test
  .github/workflows/pipeline.yml
Due: none

remove extra codecov.yaml
  backend/codecov.yaml
Due: backend

Update deploy.yml to debug scp file send
  .github/workflows/deploy.yml
Due: none

Revert deploy.yml and update to include clearing disk space
  .github/workflows/deploy.yml
Due: none

Fix deploy flags
  .github/workflows/deploy.yml
Due: none

revert source for scp
  .github/workflows/deploy.yml
Due: none

jmeter test plans
  jmeter/tests/TG_Booking_Core.jmx
  jmeter/tests/TG_Student_Core.jmx
  jmeter/tests/TG_Tutor_Core.jmx
Due: none

test update
  jmeter/tests/TG_Booking_Core.jmx
  jmeter/tests/TG_Student_Core.jmx
  jmeter/tests/TG_Tutor_Core.jmx
Due: none

Revert to enable reschedule and fix reject reschedule logic
  backend/src/main/java/com/csy/springbootauthbe/booking/controller/BookingController.java
  backend/src/main/java/com/csy/springbootauthbe/booking/service/BookingService.java
  backend/src/main/java/com/csy/springbootauthbe/booking/service/BookingServiceImpl.java
  frontend/src/api/bookingAPI.ts
  frontend/src/components/AvailabilityCalendar.tsx
  frontend/src/components/BookingCard.tsx
  frontend/src/components/BookingModal.tsx
  frontend/src/components/RescheduleModal.tsx
  frontend/src/pages/student/StudentDashboard.tsx
  frontend/src/pages/tutor/TutorDashboard.tsx
Due: backend, frontend

Update unit tests
  backend/src/test/java/com/csy/springbootauthbe/booking/controller/BookingControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/booking/entity/BookingTest.java
  backend/src/test/java/com/csy/springbootauthbe/booking/repository/BookingRepositoryTest.java
  backend/src/test/java/com/csy/springbootauthbe/booking/service/BookingServiceImplTest.java
  frontend/src/test/components/AvailabilityCalendar.test.tsx
  frontend/src/test/components/BookingCard.test.tsx
  frontend/src/test/components/BookingModal.test.tsx
  frontend/src/test/components/RescheduleModal.test.tsx
  frontend/src/test/pages/student/StudentDashboard.test.tsx
Due: backend, frontend

path change
  jmeter/tests/TG_Booking_Core.jmx
  jmeter/tests/TG_Student_Core.jmx
  jmeter/tests/TG_Tutor_Core.jmx
Due: none

Update bookingmodal test
  frontend/src/components/BookingModal.tsx
  frontend/src/test/components/BookingModal.test.tsx
  frontend/src/test/components/__snapshots__/BookingModal.test.tsx.snap
Due: frontend

Update jest
  frontend/src/test/components/AvailabilityCalendar.test.tsx
Due: frontend

remove tests
  backend/src/test/java/com/csy/springbootauthbe/booking/repository/BookingRepositoryTest.java
Due: backend

strategy pattern
  backend/src/main/java/com/csy/springbootauthbe/user/factory/AdminCreator.java
  backend/src/main/java/com/csy/springbootauthbe/user/factory/RoleEntityCreator.java
  backend/src/main/java/com/csy/springbootauthbe/user/factory/StudentCreator.java
  backend/src/main/java/com/csy/springbootauthbe/user/factory/TutorCreator.java
  backend/src/main/java/com/csy/springbootauthbe/user/service/AuthenticationService.java
Due: backend

Update AuthenticationServiceTest.java
  backend/src/test/java/com/csy/springbootauthbe/user/service/AuthenticationServiceTest.java
Due: backend

observer pattern
  backend/src/main/java/com/csy/springbootauthbe/booking/observer/BookingEvent.java
  backend/src/main/java/com/csy/springbootauthbe/booking/observer/BookingNotificationObserver.java
  backend/src/main/java/com/csy/springbootauthbe/booking/observer/BookingObserver.java
  backend/src/main/java/com/csy/springbootauthbe/booking/service/BookingServiceImpl.java
Due: backend

Update BookingServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/booking/service/BookingServiceImplTest.java
Due: backend

Add swagger api docs and change api url for dev env
  backend/pom.xml
  backend/src/main/java/com/csy/springbootauthbe/config/SecurityConfig.java
  backend/src/main/java/com/csy/springbootauthbe/wallet/controller/WalletController.java
  frontend/src/components/Navbar.tsx
  frontend/src/hooks/useSseNotifications.ts
Due: backend, frontend

Update notif urls
  backend/src/main/java/com/csy/springbootauthbe/notification/controller/NotificationSseController.java
  frontend/src/components/Navbar.tsx
  frontend/src/hooks/useSseNotifications.ts
Due: backend, frontend

add test local url for frontend
  frontend/jest.setup.ts
Due: frontend

Fix wallet duplicate top up and update test cases
  backend/src/main/java/com/csy/springbootauthbe/wallet/controller/WalletController.java
  backend/src/main/java/com/csy/springbootauthbe/wallet/service/WalletService.java
  frontend/babel.config.cjs
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/notificationAPI.ts
  frontend/src/components/Navbar.tsx
  frontend/src/hooks/useSseNotifications.ts
  frontend/src/pages/student/WalletSuccessPage.tsx
  frontend/src/test/components/AvailabilityCalendar.test.tsx
  frontend/src/test/components/Navbar.test.tsx
  frontend/src/test/pages/student/WalletSuccessPage.test.tsx
Due: backend, frontend
