Repository Uygnis/TutorLink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

# Ignore irrelevant files/folders if needed
ignore:
  - "tests/*"
  - "docs/*"

# Base path to correctly resolve coverage report file paths
base_path: "backend"

# Control coverage reporting behavior
coverage:
  status:
    project:
      # Show coverage for all files, not just changed ones
      only_changed_files: false

# Comment configuration on PRs
comment:
  layout: "diff"        # Shows coverage diff in the comment
  behavior: "update"    # Updates the existing comment instead of posting new ones

# Flags to separate frontend/backend coverage reports
flags:
  backend:
    paths:
      - "backend/**"

  frontend:
    paths:
      - "frontend/**"

Update pipeline.yml
  .github/workflows/pipeline.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update .codecov.yml
  .codecov.yml
Due: none

Update BookingServiceImpl.java
  backend/src/main/java/com/csy/springbootauthbe/booking/service/BookingServiceImpl.java
Due: backend

delete booking
  backend/src/main/java/com/csy/springbootauthbe/admin/controller/AdminController.java
  backend/src/main/java/com/csy/springbootauthbe/admin/entity/Permissions.java
  backend/src/main/java/com/csy/springbootauthbe/admin/service/AdminService.java
  backend/src/main/java/com/csy/springbootauthbe/admin/service/AdminServiceImpl.java
  backend/src/main/java/com/csy/springbootauthbe/booking/service/BookingService.java
  backend/src/main/java/com/csy/springbootauthbe/booking/service/BookingServiceImpl.java
  frontend/src/components/CreateAdminModal.tsx
Due: backend, frontend

Fix code scanning alerts
  frontend/src/pages/UserRegister.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/pages/student/Wallet.tsx
Due: frontend

update codecov.yml
  .codecov.yml
Due: none

Revert code changes
  frontend/src/pages/admin/AdminDashboard.tsx
Due: frontend

Update codecov and pipeline
  .codecov.yml
  .github/workflows/deploy.yml
Due: none

jmeter test
  .github/workflows/pipeline2.yml
  jmeter/resources/file.csv
  jmeter/resources/test.png
  jmeter/tests/TG_Booking_Core.jmx
  jmeter/tests/TG_Student_Core.jmx
Due: none

Update pipeline to incldue frontend test coverage
  .github/workflows/pipeline.yml
Due: none

Update backend code coverage
  backend/codecov.yaml
Due: backend

Update pipeline2.yml
  .github/workflows/pipeline2.yml
Due: none

Update TG_Booking_Core.jmx
  jmeter/tests/TG_Booking_Core.jmx
Due: none
