Repository Uygnis/TutorLink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update SecurityConfig.java
  backend/src/main/java/com/csy/springbootauthbe/config/SecurityConfig.java
Due: backend

Update notif url
  frontend/src/hooks/useSseNotifications.ts
Due: frontend

Update frontend docker
  frontend/Dockerfile
Due: frontend

update codecov expiration report
  .codecov.yml
Due: none

Update notif url
  frontend/src/api/notificationAPI.ts
Due: frontend

update cleaning of ec2 docker images
  .github/workflows/deploy.yml
Due: none

revert dockerfile
  frontend/Dockerfile
Due: frontend

removed full prune and only deploy on updated images
  .github/workflows/deploy.yml
Due: none

fix ec2 env variables
  backend/src/main/java/com/csy/springbootauthbe/wallet/controller/WalletController.java
  docker-compose.yml
Due: backend

revert docker compose
  docker-compose.yml
Due: none

Improve junit coverage
  backend/src/main/java/com/csy/springbootauthbe/doctor/controller/DoctorController.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/dto/DoctorDTO.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/entity/Doctor.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/mapper/DoctorMapper.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/repository/DoctorRepository.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/service/DoctorService.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/service/DoctorServiceImpl.java
  backend/src/main/java/com/csy/springbootauthbe/tutor/controller/TutorController.java
  backend/src/test/java/com/csy/springbootauthbe/SpringbootAuthBeApplicationTests.java
  backend/src/test/java/com/csy/springbootauthbe/booking/service/BookingServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/sequence/SequenceGeneratorControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/sequence/SequenceGeneratorServiceTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/ApplicationConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/AwsConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/CorsConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/GlobalExceptionConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/SecurityConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/controller/NotificationControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/controller/NotificationSseControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/service/NotificationServiceTest.java
  backend/src/test/java/com/csy/springbootauthbe/student/controller/StudentControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/student/service/StudentServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/tutor/controller/TutorControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/tutor/service/TutorServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/wallet/controller/WalletControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/wallet/service/WalletServiceTest.java
Due: backend

update security bypass
  backend/src/main/java/com/csy/springbootauthbe/config/SecurityConfig.java
Due: backend

update read notifications
  frontend/src/api/notificationAPI.ts
Due: frontend

Add admin unit tests
  backend/src/test/java/com/csy/springbootauthbe/admin/controller/AdminControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/dto/AdminDTOTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/dto/AdminDashboardDTOTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/entity/AdminTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/entity/PermissionsTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/mapper/AdminMapperTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/repository/AdminRepositoryTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/service/AdminServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/service/AdminServiceTest.java
Due: backend

Add unit tests
  backend/src/test/java/com/csy/springbootauthbe/admin/controller/AdminControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/dto/AdminDTOTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/dto/AdminDashboardDTOTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/entity/AdminTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/entity/PermissionsTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/mapper/AdminMapperTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/repository/AdminRepositoryTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/service/AdminServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/service/AdminServiceTest.java
  backend/src/test/java/com/csy/springbootauthbe/booking/repository/BookingRepositoryTest.java
Due: backend

Add more unit tests
  backend/src/main/java/com/csy/springbootauthbe/doctor/controller/DoctorController.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/dto/DoctorDTO.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/entity/Doctor.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/mapper/DoctorMapper.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/repository/DoctorRepository.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/service/DoctorService.java
  backend/src/main/java/com/csy/springbootauthbe/doctor/service/DoctorServiceImpl.java
  backend/src/main/java/com/csy/springbootauthbe/exception/ResourceNotFoundException.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/csy/springbootauthbe/SpringbootAuthBeApplicationTests.java
  backend/src/test/java/com/csy/springbootauthbe/admin/controller/AdminControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/dto/AdminDTOTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/dto/AdminDashboardDTOTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/service/AdminServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/admin/util/AdminResponseTest.java
  backend/src/test/java/com/csy/springbootauthbe/booking/dto/BookingDTOTest.java
  backend/src/test/java/com/csy/springbootauthbe/booking/mapper/BookingMapperImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/booking/service/BookingServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/aws/AwsResponseTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/aws/AwsServiceTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/sequence/CounterTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/sequence/SequenceGeneratorControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/sequence/SequenceGeneratorServiceTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/wrapper/UserDetailsServiceWrapperTest.java
  backend/src/test/java/com/csy/springbootauthbe/common/wrapper/UserDetailsWrapperTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/ApplicationConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/AwsConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/GlobalExceptionConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/JWTAuthenticationFilterTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/JWTServiceTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/SecurityConfigTest.java
  backend/src/test/java/com/csy/springbootauthbe/config/TestUtils.java
  backend/src/test/java/com/csy/springbootauthbe/notification/controller/NotifcationSseControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/controller/NotificationControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/dto/NotificationDTOTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/entity/NotificationEntityTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/mapper/NotificationMapperTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/repository/NotificationRepositoryTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/service/NotificationServiceTest.java
Due: backend

Update unit tests
  backend/src/test/java/com/csy/springbootauthbe/admin/service/AdminServiceImplTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/controller/NotifcationSseControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/notification/controller/NotificationSseControllerTest.java
  backend/src/test/java/com/csy/springbootauthbe/tutor/utils/TutorRequestTest.java
Due: backend

Fix test fail
  backend/src/test/java/com/csy/springbootauthbe/tutor/utils/TutorRequestTest.java
Due: backend

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

pipeline update
  .github/workflows/deploy.yml
  backend/src/main/java/com/csy/springbootauthbe/config/SecurityConfig.java
Due: backend

Update pipeline2.yml
  .github/workflows/pipeline2.yml
Due: none

Update pipeline.yml
  .github/workflows/pipeline.yml
Due: none

Update pom.xml
  backend/pom.xml
Due: backend

Path conditions:
  backend: any of: backend/**, but not: tests/*, docs/*
  frontend: any of: frontend/**, but not: tests/*, docs/*
